<a href="https://colab.research.google.com/github/ShrenikMehar/AICS_Labs/blob/main/Lab%203/Multiple%20Linear%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import linear_model
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
df = pd.read_csv('gdrive/My Drive/AICS Datasets/50_Startups.csv')
new_df = df
new_df['State'] = new_df['State'].map({'New York':1,'California':2,'Florida':3})
new_df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      1  192261.83
1  162597.70       151377.59        443898.53      2  191792.06
2  153441.51       101145.55        407934.54      3  191050.39
3  144372.41       118671.85        383199.62      1  182901.99
4  142107.34        91391.77        366168.42      3  166187.94

In [3]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('Profit',axis='columns').values,df.Profit)

LinearRegression()

In [4]:
print("R&D Spend coefficient:",reg.coef_[0])
print("Administration coefficient:",reg.coef_[1])
print("Marketing Spend coefficient:",reg.coef_[2])
print("State coefficient:",reg.coef_[3])
print("Intercept coefficient:",reg.intercept_)

R&D Spend coefficient: 0.8060488832908026
Administration coefficient: -0.02698708786510758
Marketing Spend coefficient: 0.027026508364455908
State coefficient: 118.51465590853024
Intercept coefficient: 49926.2211325705

In [5]:
rnd_spend = float(input("Enter R&D Spend to predict Profit: "))
admin_spend = float(input("Enter Administration to predict Profit: "))
mark_spend = float(input("Enter Marketing Spend to predict Profit: "))
state = float(input("Enter State to predict Profit:\n1 for New York\n2 for California\n3 for Florida\n"))
print("Expected Profit is "+str(float(reg.predict([[rnd_spend,admin_spend,mark_spend,state]]))))

Enter R&D Spend to predict Profit: 150000
Enter Administration to predict Profit: 100000
Enter Marketing Spend to predict Profit: 360000
Enter State to predict Profit:
1 for New York
2 for California
3 for Florida
2
Expected Profit is 178101.4171627013