<a href="https://colab.research.google.com/github/ShrenikMehar/AICS_Labs/blob/main/Lab%204/Logistic%20Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import linear_model
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
df = pd.read_csv('gdrive/My Drive/AICS Datasets/Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
logreg = linear_model.LogisticRegression()
logreg.fit(df.drop('Purchased',axis='columns').values,df.Purchased)

LogisticRegression()

In [4]:
age = float(input("Enter Age of Person : "))
salary = float(input("Enter Salary of Person : "))
print("There is",logreg.predict_proba([[age, salary]])[0][0]*100,"% probabilty they will purchase car")
print("There is",logreg.predict_proba([[age, salary]])[0][1]*100,"% probabilty they will not purchase car")

Enter Age of Person : 22
Enter Salary of Person : 694200
There is 86.63993000863599 % probabilty they will purchase car
There is 13.360069991364004 % probabilty they will not purchase car